*{
    margin: 0px;
    padding: 0px; 
    
}
body{
    background-color: rgb(228, 229, 229);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--artdeco-reset-typography-font-family-sans);
    width:  1200;

}
.left_header img{
    object-fit: contain;
    height: 35px;
    margin-left: 10px;
    

}

.navbar{
    width: 100%;
    position: sticky;
    display: flex;
    top: 0;
    z-index: 999;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgrey;
    padding: 10px;
    background-color: white;
    height: 42px
}
.left_header{
    display: flex;
    margin-left: 100px;
}

.right_header{
    display: flex;
    margin-right: 50px;
    
}
.search{
    padding: 7px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    margin-left: 10px;

    

}
.search input{
    outline: none;
    border: none;
    background-color:lightgray ;
    width: 150px;


}
h2{
    font-size: 9px;
    font-weight: 300px;


}
.icon{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: center;
    color: gray;
 
    
}
a{
    color: gray;
}

.icon:hover,a:hover{
color: black;
cursor: pointer;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.premium{
    text-align: center; 
    overflow: hidden;
}

.search > i{
    font-size: 20px;
    font-weight: 200;

}
.material-symbols-outlined{
    margin-top: -5px;
}
/* main body------------------------------------------------------------------- */
.main{
    display: grid;
    grid-template-columns:auto auto auto;
    justify-items: center;
    justify-content: space-around;
 width:1200;
    grid-column-gap: 10px;
    

    
    
 }

 
 /* left-side bar --------------------------------------------------------------- */
 .left_bar{
    height: 412px;
    width: 280px;
    background-color: rgb(251, 253, 253);
    top: 0;
     /* sticky margine */
    position: sticky;
   
    margin-top: 10px;
    border-radius: 3%;
    flex: 0.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 0px 2px;
  
   

 } 
 .name{
    font-size: 20px;
    
    color: rgb(80, 77, 77);
 }
 b{
    font-weight: 900;
 }
 .jobprofile{
    font-size: 14px;
    color: rgb(153 147 147);
    font-weight: 500;
    margin-top: 5px;
 }

.profilecover img{
    border-top-left-radius:10px ;
    border-top-right-radius: 10px ;
    height: 91px;
    width: 280px;
}
.dp img{
    width: 100px;
    height: 154px;
    z-index: -999;
    
}
.dp {
    height: 90px;
    width: 90px;
    border-radius: 58px;
    

margin-top: -50px;
background-image: url(dp.jpg);
background-position: center;
background-size: 78px;
    border: white solid 3px ;
} 
.connactions .cofont{margin-left: 5px;
  
}
.connactions {
    width: 280px;
    border: solid rgb(153 147 147 ) 1px;
    border-left: 0px;
    padding: 15px 0px;
    border-right: 0px;
    color: rgb(134 127 127);
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.premium_sidebar{
    width: 280px;
    border-bottom: solid rgb(153 147 147 ) 1px;
    border-left: 0px;
    padding: 15px 0px;
    border-right: 0px;
    color: rgb(134 127 127);
margin-left: 10px;
 
    align-items: center;

}
.cofont > h4,
.premium_sidebar > h5,
.g2 > i { color: #4b4949;
    
}
.myitems{
    display: flex;  
    padding: 15px 0px;
    margin-left:  -160px;
}
/* middle bar ===================================================================== */
 .middle_bar{
    height: 3000px;
    width: 730px;
    background-color:rgb(227, 226, 226) ;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;

    
}
.profile_data_search{ width: 680px;
    height: 120px; background-color:rgb(246, 249, 249);
  
    border-radius: 13px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
    justify-content: center; 
    align-items: center;
    box-shadow: 0px 0px 1.5px;


}
.postbar input{
    width: 500px;
    height: 30px;
    outline: none;
    border: white;
    
     color: grey;
    
    

}
.postbar{
    padding: 10px;
    background-color: white;
width: 600px;
    height: 35px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    border: #958585ba solid 1PX;

}
/* posticons  --------- */
.posticons{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-evenly;
    height: 35px;
    width: 600px;
    padding: 10px;
}
.posticons .icon{
    display: flex;
    flex-direction: row;
    
}
.posticons h2{
    font-size: 15px;
    
    margin-left: 15px;
}
.posticons {
    font-size: 25px;
}




/* rightbar================================================ */
 .right_bar{
    height: 430px;
    width: 350px;
    background-color: rgb(250, 251, 251);
    position: sticky;
    top: 0;
    margin-top: 10px;
    border-radius: 3%;
    box-shadow: 0px 0px 1.5px;
    

 }
 
 /* middlebar  childe divs */

 .mid1,.mid2,.mid3,.mid4,.mid5,.mid6,.mid7,.mid8{
width: 700px;
height: 400px;
background-color: rgb(246, 249, 249);
margin: 10px;
border-radius: 3%; 
box-shadow: 0px 0px 1.5px;
 }

/* responsivness */
@media only screen and (max-width:600px) {
   /* learned from this exp. for get best resposivness set things in mobile view using media change every thing as per need */

   .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
     }
     .left_bar{
        position: static;
     }
     .middle_bar{
        width: auto;
        
     }
     .navbar .left_header{
        margin-left: 10px;

     }
     .right_header .icon{
        width: 30px;
     }
    
}
